.m{
    margin-left: 5%;
    margin-right: 5%;
    
}
.f
{
    margin-left: 45%;
    margin-top: 5%;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}